body
{ text-align: center;
    background: linear-gradient(500deg,violet,pink,yellow);
    background-size: 100% 100%;
    animation: gradient-animaation 50s ease infinite;
}


h1{
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.container
{
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
.drum
{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 10px solid rgb(240, 4, 150);
    display: inline-block;
    margin: 20px;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 20px white;
    margin-bottom: 30px;
   
}
footer
{
    margin-top: 30px;
    size: 40px;
    background: linear-gradient(100deg,black,white);
    animation: gradient-animation 90s ease infinite;
    font-size: 40px;
    text-decoration: wavy;
    text-shadow: 3px 0px orange;
}
.q
{
  background-image: url(./images/crash.png);
}

.w
{
    background-image: url(./images/kick.png);
}

.e
{
    background-image: url(./images/snare.png);
}

.r
{
    background-image: url(./images/tom1.png);
}

.t{
    background-image: url(./images/tom2.png);
}

.y
{
    background-image: url(./images/tom3.png);
}
.u
{
    background-image: url(./images/tom4.png);
}


.press
{
    box-shadow: 10px 10px whitesmoke;
    opacity: 0.4;
    
    
}


.game-over
{
    background-color: red;
    opacity: 0.4;
    background: linear-gradient(350deg,rgb(31, 255, 102),rgb(247, 89, 247));
}