*
{
  margin: 0;
  padding: 0;
  align-content: center;
  text-align: center;
}
.file-store
{
  display: block;
  align-content: center;
}

.nav-img
{
  width:200px;
  height:100px;
  margin-left: -1240px;
}
.nav-img:hover
{
  box-shadow: 4px 5px 2px rgb(66, 63, 63);
  cursor: pointer;
}

.container
{
  display: flex;
  margin-top: 200px;
  justify-content: center;
}

.file-share
{ padding: 20px;
  width: 500px;
  height: 300px;
  align-items: flex-start;
  margin-left: -400px;
  flex: 2 0 1;
  border: 2px dashed rgb(39, 39, 255);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-radius: 10px;
}

.file-img
{
  width: 200px;
  height:200px;
  margin-top: 30px;
}

.res
{
  width: 50%;
  align-items: flex-end;
  margin-right: -300px;
  margin-top: -200px;
}

#banner-img
{
  width: 800px;
  height: 600px;
}

.share-btn
{
  background-color: greenyellow;
}



button
{
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border-radius: 4px;
}

